footer.text-center
  a(href='https://www.facebook.com/juancruz.cardona')
    i#social-fb.fa.fa-facebook-square.fa-3x.social
  a(href='https://ar.linkedin.com/in/jcardonapage')
    i#social-ln.fa.fa-linkedin-square.fa-3x.social
  a(href='https://github.com/Juancard')
    i#social-github.fa.fa-github-square.fa-3x.social
  a(href='mailto:juancruz.23@hotmail.com?subject=Voting-app')
    i#social-em.fa.fa-envelope-square.fa-3x.social
  p  Copyright © Voting-app 2017. Juan Cardona. All rights reserved.
