extends skeleton.pug

block content
  .jumbotron()
    h1 Make a new poll!
    form.row
      .col-md-offset-1.col-md-10
        .form-group
          label(for='title') Title
          input.form-control(type='text', name='title', placeholder='My poll title', tabindex='1', autofocus, required, maxlength="50")
        .form-group
          label(for='options') Options (seperated by line):
          textarea.form-control(rows='5', name='options', placeholder='', tabindex='2', required)
        button#btnMakePoll.btn.btn-primary(type='submit', tabindex='3') Make!

block append js
  script(src='/controllers/newpoll.client.js')
