extends skeleton.pug

block content
  .jumbotron.row

    .col-md-4
      h2 #{poll.title}
      form
        .form-group
          label(for='options') I'd like to vote for...:
          select.form-control(name='options', placeholder='Choose an option', tabindex='1', autofocus, required)
            for op in poll.options
              option(value=op._id) #{op.displayName}
            option(value="custom") I'll make my own option
        button.btn.btn-primary.btn-block(type='submit', tabindex='2')
          span.glyphicon.glyphicon-send
          |  Vote
      br
      button.btn.btn-info.btn-block(tabindex='3')
        span.fa.fa-twitter
        |  Share

    .col-md-8
      img.img-responsive(src="http://www.w3schools.com/bootstrap/cinqueterre.jpg", alt="Cinque Terre")
      br
      button.btn.btn-block.btn-danger
        span.glyphicon.glyphicon-remove
        |  Remove poll
